*{margin: 0; padding: 0;box-sizing: border-box;}
:root{
   --morado:#b1047d;
   --bgAzul:#026299;
}
html{scroll-behavior: smooth;}
body{width:100%;height:auto;
   font-family: 'Lato', sans-serif;
   background: #fefefe;
   position: relative;z-index:0;}
.up{width:100%;height:auto;
position:relative;}
.up>a{font-size: 40px;
   font-weight:300;
   line-height:1.2em;
   background:var(--morado);color:#ddd;
   border-radius:50%;
   position:fixed;z-index:99;
   bottom:25px;right:15px;
   transition:all .2s ease;}
.up>a:hover{background:#ddd;color:var(--morado);
   transform:scale(1.3) translateY(-3px) rotate(720deg);}
/* -------------------------------------*/
/*        Styles Navigation/
/* -------------------------------------*/

.header{width:100%;height:auto;
   background:var(--morado);
   overflow: hidden;
   letter-spacing:1px;
   box-shadow: 0 5px 5px rgba(0,0,0,.5);}

.logo{width:40px;height:40px;
   overflow: hidden;
   float: left;
   margin:5px 20px 0 40px;}
.logo>img{width:100%;height:auto;border-radius:50%;}
#btnMenu{display:none;}

.menu{margin-right:30px;
   position:relative;z-index:999;}
.header>label{
   display:inline-block;
   color:#ddd;
   border:1px solid rgba(0,0,0,.1);
   font-size:30px;
   cursor:pointer;
   display:none;
   padding:8px;
   transition:all .4s ease;}
.header>label:hover{
   background:rgba(0,0,0,.3);}

.menu>ul{list-style:none;
   margin:0;padding:0;
   display:flex;
   justify-content:flex-end;}

.menu>ul>li{box-shadow: 1px 0 rgba(0,0,0,.05)inset;
   transition:all .6s ease;}
.menu>ul>li:hover{box-shadow: 100px 0 rgba(0,0,0,.2)inset;}

.menu>ul>li>a{text-decoration:none;
   display:block;padding:15px 20px;
   color:#ddd;}
@media only screen and (max-width:768px){
   .header>label{display:inline-block;}

   .logo{float:right;margin:6px 30px 0 0;}

   .menu{width:70%;
      position:absolute;
      background:var(--morado);;
      margin-left:-70%;
      transition:all .4s ease;}

   .menu>ul{
      flex-direction:column;}

   .menu>ul>li{border-top:1px solid rgba(0,0,0,.1);}

   .menu>ul>li:hover{
      box-shadow: 0 -50px rgba(0,0,0,.2)inset;
      padding-left:10px;}
   
   #btnMenu:checked ~ .menu{
      margin:0;
   }
}

/* -------------------------------------*/
/*        Styles Section Banner*/
/* -------------------------------------*/
.banner{width:100%;height:auto;
   margin: 0 auto; padding:0;
   box-shadow:inset 0 5px 5px rgba(0,0,0,.5);
   position:relative;}

.bgBanner{width:100%;height:600px;
   background-image:url(../../assets/img/banner.jpg);
   position:relative;z-index:1;
   background-attachment: fixed;
   background-position:center;
   background-size:100 auto;
   background:cover;
}

.childBanner{width:100%;height:600px;
   background:#b1047d69;color:#ddd;
   display:flex;justify-content:center;
   align-items:center;
   flex-direction:column;
   position:relative;
   }
.childBanner>h1{font-size:50px;
   font-weight:300;}
.childBanner>p{margin:10px auto;}
.childBanner>a{display:block;
   text-decoration:none;
   background:var(--bgAzul);color:#ddd;
   padding:0 30px;font-size:1.5em;
   line-height:2.3em;
   border-radius:7px;
   position:relative;
   transition:all .3s ease;}
.childBanner>a:hover{
   padding:0 10px 0 50px;
   box-shadow: 0 5px 5px rgba(0,0,0,.1);
}
.childBanner>a::before{
   content:">>";
   opacity:0;
   position:absolute;
   left:-7px;
   transition:all .4s ease;}

.childBanner>a:hover::before{
   content: ">>";
   opacity:1;
   left: 20px;}
.childBanner>a:active{
   transform:scale(.90) translateY(-1px);
   box-shadow: 0 5px 5px rgba(0,0,0,.5)inset;
}

/* -------------------------------------*/
/*        Styles Section Products*/
/* -------------------------------------*/
.products{width:100%;height:auto;
   background:var(--bgAzul);
   margin: 0 auto; padding:50px 30px;
   box-shadow:inset 0 5px 5px rgba(0,0,0,.5);
   position:relative;
   display:flex;flex-wrap:wrap;
   justify-content:space-between;}

.childProducts{width:calc((100% / 3 ) - 40px);height:auto;
   margin:1em auto;position:relative;
   overflow: hidden;}

   .boxProducts>img{width:100%;height:auto;
      display:block;position:relative;
      overflow: hidden;border-radius:5px;
      transition:all .4s ease;}
   .boxProducts:hover img{
      transform:scale(1.3) translateY(15px) rotate(2deg);}

   .textProducts{width:100%;height:100%;
      position:absolute;z-index: 1;
      display:flex;justify-content:center;align-items:center;}
   .textProducts>p{line-height:2em;
      display:inline-block;
      background:#c0bdc0c4;color:#222;
      position:relative;
      padding:0 1em;border-radius:.3em;}

@media only screen and (max-width:940px){
   .childProducts{width:calc((100% / 2 ) - 40px);height:auto;
      margin:1em auto;position:relative;
      overflow: hidden;}
}


@media only screen and (max-width:768px){
   .products{flex-direction:column;}
   .childProducts{width: 100%;}
}

/* -------------------------------------*/
/*        Styles Section abotMe*/
/* -------------------------------------*/
.aboutMe{width:100%;height:auto;
   color:#222;
   margin: 0 auto; padding:50px 30px;
   box-shadow:inset 0 5px 5px rgba(0,0,0,.5);
   position:relative;line-height:2rem;
   display:flex;align-items:center;}

.childAbout{flex-grow:1;
   text-align:center;
   overflow: hidden;padding:0 15px;}

.childAbout>img{width:100%;height:auto;
   display:block;
   border-radius: 5px;
   position:relative;
   transition:all .4s ease;}
.childAbout>img:hover{
   transform:scale(4) translateX(-40px) translateY(-40px)rotate(20deg);
}

.childAbout>h2{
   font-size:40px;font-weight:300;
margin-bottom:30px;}

.childAbout>a{display:inline-block;
   text-decoration:none;
   background:var(--morado);color:#ddd;
   line-height:2em;
   padding:0 20px;font-size:1.3em;
   margin:20px auto;
   border-radius:3px;
   position:relative;
   transition:all .3s ease;}
   
.childAbout>a:active{
   transform:scale(.95) translateY(-1px);
   box-shadow: 0 5px 5px rgba(0,0,0,.5)inset;
}
.childAbout>a::before{
   content: "";
   width:0%;height:3px;
   background:#4005e2;
   position:absolute;
   left:0;bottom:0;
   transition:all .4s ease;}
.childAbout>a:hover::before{
   width:100%;}

@media only screen and (max-width:768px){
   .aboutMe{flex-direction:column;}
   .childAbout{width: 100%;padding:0;
      margin:10px auto;}
   .childAbout>h2{font-size:25px;}
   .childAbout>p{
      font-weight:300;}
}


/* - - - - - - - - - - - - - - - - - - - - - - - */
/*        Styles Page Richie*/
/* - - - - - - - - - - - - - - - - - - - - - - - */
.days{width: 100%;height:auto;
   position:relative;padding:50px 30px;}

.conteiner1{width:100%;height:auto;
   display: flex; justify-content: center;
   align-items: center;justify-content:space-between;
}
.texto{padding:0 30px;
   display:flex;flex-direction:column;
   align-items:center;}
.texto, .imagen{
   width: 100%;overflow:hidden;}

.texto h3{
   font-size: 34px;
   font-style: italic;
   font-weight: 100;
   margin: 20px;
}


.texto a{
   display: inline-block;
   background-color: red;
   color:#ddd;
   padding: 10px 30px;
   border-radius: 7px;
   text-decoration: none;
   font-weight: 300;
   margin:30px auto;
}
.texto>a:hover{background:rgb(216, 4, 4);}
.texto>a:active{color:#fff;
   box-shadow: 0 5px 5px rgba(0,0,0,.5)inset;
   transform:scale(.95) translateY(3px);}
.conteiner1 img{width:100%;height:auto;
   border-radius:6px;
   filter:sepia(0);
   transition:all .3s ease;}

.conteiner1 img:hover{transform:scale(1.1)rotate(-3deg);
   filter:sepia(1); }

@media only screen and (max-width:768px){
   .conteiner1{flex-direction:column;}
}

/******* Contendor de servicios ********/
.service{
       width: 99%;
       display: flex;
       justify-content: center;
}

.conteiner2{
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   


}

.item{
   width: 30%;
   display: flex;
   flex-wrap: nowrap;
   margin-left: 20px;
   margin-top: 40px;
  
   
}
.icono{
width: 20%;
display: flex;
justify-content: center;
align-items: center;
color: #555555;
background-color: #FFFFFF;
border-radius: 50%;
height: 74px;
margin-top: 20px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
font-size: 19px;

}

.icono:hover{
   background-color: #555555;
   color: white;
}

.fa-pen{
   
 width: 100%;
 color: #555555;
 font-size: 30px;
   
}

.fa-pen:hover{
 color: white;
 background-color: #555555;
}

.texto-der{
width: 80%;

padding-left: 10px;
}

.texto-der p{
   font-size: 12px;
   font-weight: 100;
   font-style: italic;
}

.texto-der h2{
   font-size: 19px;
   font-weight: 100;
   font-style: italic;
}



.sub-titulo>h2{
   font-size: 34px;
   font-style: italic;
   font-weight: 100;
   margin: 0 auto;
   text-align: center;
}

/**** Footer ****/

.conteiner-footer{
   width: 99%;
   display: flex;
   justify-content: center;
   margin-top: 30px;
   margin-left: 40px;
   margin-bottom: 140px;
   color: #555555;
   
}

.menu-footer{
width: 80%;
display: flex;
flex-wrap: nowrap;
}
.item2{
width: calc((100% / 5) - 40px );
display: flex;
flex-wrap: nowrap;
flex-direction: column;
padding: 20px;
}

.item2>h2{
font-size: 20px;
font-style: italic;
font-weight: 100;

text-align: left;
}

.item2>p{
font-size: 12px;
font-style: italic;
font-weight: 100;
margin-top: 0px;
margin-bottom: 5px;
text-align: left;
}

.item2>ul{
font-size: 12px;
font-style: italic;
font-weight: 100;
margin-top: 0px;
margin-bottom: 5px;
padding-left: 10px;


}

.contac span{
margin-left: 5px;
}

.contac p{
margin-top: 8px;
}

.item2 li{
margin-top: 5px;
text-align: left;
margin-top: 8px;
list-style: none;
cursor: pointer;
}


/* barra de redes */
.barra{
width: 100%;
display: flex;
justify-content: center;
background-color: #ccc;
padding: 15px 20px;

}

.contenedor-barra{
width: 70%;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

.formulario{
display: flex;
align-items: center;

}

.redes{
font-size: 50px;
}

.fa-google-plus-square{
color: red;
}

.fa-facebook-square{
color: blue;
}

.fa-twitter-square{
color: cadetblue;
}

.fa-youtube-square{
color: red;
}

input{
margin: 0 3px;
margin-left: 10px;
margin-right: 20px;
height: 35px;
border-radius: 3px;
border: none;

}

input:focus{
background-color: rgba(0,0,0,.11);
border: none;
}

input:hover{
border: none;
}

.formulario  a{
   display: inline-block;
   background-color: black;
   color: white;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario p{
   font-size: 20px;
   font-weight: 100;
   font-style: italic;
}

@media only screen and (max-width:850px){
.contenedor-barra{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.fab{
   margin: 15px auto;
}